@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');

:root {
  --clr-primary: #f0c38e;
  --clr-secondary: #312c51;
  --ff-kdam: 'Saira Semi Condensed';
}

.bg-primary { background-color: var(--clr-primary); }
.bg-secondary { background-color: var(--clr-secondary); }

.clr-primary { color: var(--clr-primary); }
.clr-secondary { color: var(--clr-secondary); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-kdam), sans-serif;
}

.container {
  max-width: 50%;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  padding: 0.5rem;
  border-bottom: 1px solid var(--clr-primary);
}

.draggable {
  opacity: 0.2;
}

.drag-over {
  background-color: red;
}

.rm-btn-default {
  background: transparent;
  border: none;
  cursor: pointer;
}

.tasks {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 323px;
  border-radius: 10px;
  padding: 1rem;
}

.task-input-container {
  display: flex;
  justify-content: space-between;
  height: 2rem;
  background-color: #fff;
  padding-inline: 0.5rem;
  border-radius: 0.2rem;
}

.task-input-container .task-input {
  width: 100%;
  border: none;
  font-size: 1rem;
  color: var(--clr-secondary);
}

.task-input-container .task-input:focus {
  outline: none;
}

.task-drag {
  cursor: grab;
}

.task-list {
  border-radius: 10px;
  margin-block: 1rem;
  padding: 0.5rem;
}

.task-check {
  -webkit-appearance: none;
  padding: 6px;
  border: 1px solid var(--clr-primary);
  background-color: var(--clr-secondary);
  cursor: pointer;
}

.task-edit {
  border: none;
  background: transparent;
  color: var(--clr-primary);
  width: 100%;
  font-size: 1rem;
  height: inherit;
}

.task-edit:focus {
  outline: 0;
}

.task-check:checked {
  background-image: url('./assets/img/check-solid.svg');
  border: 1px solid var(--clr-secondary);
  color: var(--clr-secondary);
  position: relative;
}

.task-check:checked ~ .task-edit {
  text-decoration: line-through;
}

.task-complete {
  margin: 0 auto;
  width: 100%;
  padding-block: 0.5rem;
  border-radius: 0.2rem;
  background-color: var(--clr-secondary);
  border: 1px solid var(--clr-primary);
  color: var(--clr-primary);
}

.task-complete-icon {
  position: relative;
  right: -93%;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
